.sun {
    background-image: radial-gradient(circle at center, rgba(255, 255, 0, 0.85) 20%, rgb(100, 150, 255) 70%);
    width: 30vw;
    height: 30vw;
    animation-name: sun;
    animation-iteration-count: infinite;
    animation-duration: 10000ms;
    animation-timing-function: linear;
}

.sky {
    background-color: rgb(100, 150, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
}

@keyframes sun {
    0%{ 
        transform: translateX(-70vw) translateY(70vh)
    }
    25%{ 
        transform: translateX(-35vw) translateY(18vh)
    }
    50%{ 
        transform: translateX(0) translateY(0)
    }
    75%{ 
        transform: translateX(35vw) translateY(18vh)
    }
    100%{ 
        transform: translateX(70vw) translateY(70vh)
    }
}

.body {
    width: 50vw;
    height: 50vh;
    margin: auto;
    font-size: 2em;
    z-index: 1;
    position: absolute;
}

.menu {
    position: absolute;
    bottom: 60vh;
    left: 1vw;
    z-index: 1;
}

.bar {
    width: 45px;
    margin: 8px;
    height: 6px;
    background-color: black;
}